body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}

.background {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url('../static/images/sunset-palm-tree-flamingo-vaporwave-retrowave-digital-art-8k-wallpaper-uhdpaper.com-833@3@a.jpg') no-repeat center center/cover;
    filter: blur(8px);
    z-index: -1;
}

.login-container {
    border: 2px solid white !important;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 400px;
    padding: 20px;
    background-color: rgba(209, 149, 247, 0.8);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
}

label {
    color: #fff;
    display: block;
    margin: 10px 0 5px;
}

input {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}



button {
    width: 390px !important;
    margin-top: 20px;
    margin-left: 5px;
    padding: 10px 20px;
    border-radius: 7px;
    border: 1px solid rgb(255, 255, 255);
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    background: transparent;
    color: #fff;
    overflow: hidden;
    box-shadow: 0 0 0 0 transparent;
    transition: all 0.2s ease-in;
    position: relative;
}




button:hover {
    background: rgba(209, 149, 247, 0.8);
    box-shadow: 0 0 30px 5px rgb(224, 175, 255) ,
    0 0 30px 5px rgb(224, 175, 255),
    0 0 30px 5px rgb(224, 175, 255);
    transition: all 0.2s ease-out;
}

button:hover::before {
    animation: sh02 0.5s 0s linear;
}

button::before {
    content: '';
    display: block;
    width: 0px;
    height: 86%;
    position: absolute;
    top: 7%;
    left: 0%;
    opacity: 0;
    background: #fff;
    box-shadow: 0 0 50px 30px #fff;
    transform: skewX(-20deg);
}

@keyframes sh02 {
    from {
        opacity: 0;
        left: 0%;
    }

    50% {
        opacity: 1;
    }

    to {
        opacity: 0;
        left: 100%;
    }
}

button:active {
    box-shadow: 0 0 0 0 transparent;
    transition: box-shadow 0.2s ease-in;
}